<!DOCTYPE html>
{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
<html lang="ru">

{% block content %}

  <div class="jumbotron; text-center">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12" style="padding: 0 0;">
        {{utils.flashed_messages(messages, container=False)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}

    <h1>CocktailMan</h1>
    <h4>Выбери изображение</h4>
    <div class="row">
      <form class="form-inline center-block" action="/" method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="input-group">
              <label id="browsebutton" class="btn btn-default input-group-addon" >
                  {{ form.input_file(id="my-file-selector") }}
                  Открыть...
              </label>
              <input type="text" id="input_filename" name="image_filename" class="form-control" readonly>
          </div>
          {{ form.submit(class_="btn btn-primary") }}
      </form>

      <br>

      <form class="form-inline center-block" action="/" method="POST" enctype="multipart/form-data">
          <h4>Или вставь URL ссылку и нажми "Приготовить!"</h4>
            <input type="url" id="input_url" name="image_url" class="form-control" placeholder="Ссылка на изображение" style="min-width:67%">
          {{ form.submit(class_="btn btn-primary") }}
      </form>
    </div>

    <div class="page-header">
      <h4>{{ recipe }}</h4>
      <img src="{{url_for('static', filename = 'images/download.jpg')}}" class="img-thumbnail" alt="Твой коктейль не загрузился" width=auto height=auto style="max-height:500px; max-width:100%">
    </div>
  </div>

    <div class="text-left">
            <a onclick="show()" id="btnID" style="color:#2a6181; text-decoration: underline" >Доступные ингредиенты</a>
        <div id="ingredients" style="display:none">
            <div class="text-left; multiline">{{ ingr_text }}</div>
        </div>
    </div>

    <div class="text-right" >
        <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#153e59" class="bi bi-github" viewBox="0 0 16 16" style="margin-bottom:-2px;">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
        <a href="https://github.com/PolushinM/CocktailMan" style="color:#2a6181">github.com/PolushinM/CocktailMan</a>
    </div>



    <script>
        function show() {
            const ingredients = document.getElementById('ingredients');
            if (ingredients.style.display === "none") {
               ingredients.style.display = "block";
               ingredients.scrollIntoView({block: "center", behavior: "smooth"});
               document.getElementById("ingred_embed").style.color = "#153e59";
            } else {
                document.getElementById('ingredients').style.display = "none"
               }
        }
    </script>

{% endblock %}




{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/inputFileButton.js') }}" ></script>

{% endblock %}

</html>
