<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CocktailMan</title>
</head>
<body>
    <h1>CocktailMan</h1>
    <p>
        You can upload the cocktail image and i will tell you the ingredients.
    </p>
    <form action="/" method="POST">
        <label>
            <input type="text" name="image_url" placeholder = "Enter image URL">
        </label>
        <input type="submit" value="Load from URL">
    </form>

    <h4>
        {{ name }}
    </h4>

</body>
</html>