body {
  padding: 5px 30px;
  max-width : 500px;
  min-width : 300px;
  margin: 0 auto;
}

.popover {
  position: relative;
  left: 18.7% !important;
}

.popover .arrow {
  left: 90% !important;
}

#browsebutton {
  background-color: white;
}

#file-selector {
    display: none;
}

#ingr_list {
  color:#132c3b;
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

#img_cocktail {
  width: auto;
  height: auto;
  min-height: 200px;
  max-height: 640px;
  min-width: 60%;
  max-width: 100%;
}

#github_link {
  color: #2a6181
}