body {
  padding: 5px 30px;
  max-width : 500px;
  min-width : 300px;
  margin: 0 auto;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.multiline {
  white-space: pre-wrap;
}

.img-thumbnail {
  width: auto;
  height: auto;
  max-height: 500px;
  max-width: 100%;
}


#browsebutton {
  background-color: white;
}

#file-selector {
    display: none;
}
