<!DOCTYPE html>

{%- extends "base.html" %}

{% block content %}

  <h1 class="text-center">CocktailMan</h1>

  <div id="main_container">

    <p class="h6 text-center">Выбери файл с изображением или вставь ссылку:</p>
    <form class="text-center" action="/" method="POST" enctype="multipart/form-data" name="input_form" id="input_form">
        <div class="form-group row">
            {{ form.hidden_tag() }}
            <div class="input-group col" id="input_div">
                <label id="browsebutton" class="btn btn-outline-light" >
                    {{ form.input_file(id="file-selector") }}
                    Открыть...
                </label>
                <label for="input_url"></label>
                <input type="text" id="input_url" name="image_url" class="form-control" placeholder="Ссылка на изображение">
            </div>
            <div class="col-sm-auto" id="make_button_div">
                {{ form.submit(class_="btn btn-primary", id="make_button") }}
            </div>
        </div>
    </form>

    <div class="text-end mt-1 mb-2">
        <text class="small" id="ingredients_list" data-toggle="ingr_popover" data-bs-content="Bottom popover" data-popper-placement="bottom">Доступные ингредиенты</text>
    </div>

    <div class="text-center">
        <p class="h6" id="recipe"></p>
        <p class="h6" id="confidence"></p>
        <div id="flash_div"></div>
        <img src="{{ url_for('static', filename="placeholder.jpg") }}" id="img_cocktail" class="img-thumbnail" alt="Коктейль не загрузился">
    </div>



    <div class="text-left">
        <a href="{{ url_for('generative_model') }}" id="generative_model_link">
          <text class="small">Экспериментальная генеративная модель (В разработке!)</text>
        </a>
    </div>

    <div class="text-end" id="github_link_div">
        <a href="https://github.com/PolushinM/CocktailMan" id="github_link">
            <img src="{{ url_for('static', filename="svg/github.svg") }}"  alt="GitHub: ">
            <text class="small"> PolushinM/CocktailMan</text>
        </a>
    </div>
  </div>

    <template id='flash_message_template'>
      <div class="alert alert-primary alert-dismissible fade show text-center" role="alert" id="flash_message">
        <span class="flash_message_text"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </template>

{% endblock %}



{% block scripts %}
{{ super() }}

    <script src="{{ url_for('static', filename='js/indexMain.js') }}"></script>
    <script src="{{ url_for('static', filename='js/inputFileButton.js') }}" ></script>

    <script> const ingredients_list = {{ ingr_list | tojson }}.join('<br/>')</script>
    <script src="{{ url_for('static', filename='js/showIngredients.js') }}"></script>

{% endblock %}
