<!DOCTYPE html>
{%- extends "base.html" %}

{% block content %}

  <div class="jumbotron; text-center" id="main_container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
      <div class="row">
        <div class="col-md-12">
          {{utils.flashed_messages(messages, container=False)}}
        </div>
      </div>
    {%- endif %}
    {%- endwith %}

    <h1>CocktailMan</h1>
    <p class="h4">Выбери файл с изображением или вставь ссылку:</p>
    <form class="form-inline center-block" action="/" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="input-group">
          <label id="browsebutton" class="btn btn-default input-group-addon" >
              {{ form.input_file(id="file-selector") }}
              Открыть...
          </label>
          <label for="input_url"></label><input type="text" id="input_url" name="image_url" class="form-control" placeholder="Ссылка на изображение">
      </div>
      {{ form.submit(class_="btn btn-primary") }}
    </form>

    <div class="text-right">
        <text class="h5" id="ingr_list" tabindex="0" data-toggle="ingr_popover">Доступные ингредиенты</text>
    </div>

    <p class="h4">{{ recipe }}</p>
    <p class="h4">{{ conf_text }}</p>
    {%- if '.jpg' in image_filename %}
      <img src="{{ url_for('download_file', filename=image_filename) }}" id="img_cocktail" class="img-thumbnail" alt="Коктейль не загрузился">
    {% else %}
      <img src="{{ url_for('static', filename="placeholder.jpg") }}" id="img_cocktail" class="img-thumbnail" alt="Коктейль не загрузился">
    {%- endif %}
  </div>

  <div class="text-right">
      <br>
      <a href="https://github.com/PolushinM/CocktailMan" id="github_link">
        <img src="{{ url_for('static', filename="svg/github.svg") }}"  alt="GitHub: ">
        <text> PolushinM/CocktailMan</text>
      </a>
  </div>

{% endblock %}


{% block scripts %}
{{ super() }}

  <script src="{{ url_for('static', filename='js/inputFileButton.js') }}" ></script>

  <script> const ingredients = {{ ingr_text | tojson }}.join('<br/>')</script>
  <script src="{{ url_for('static', filename='js/showIngredients.js') }}" ></script>

{% endblock %}
