<!DOCTYPE html>
{%- extends "base.html" %}

{% block content %}

  <h1 class="text-center">CocktailMan</h1>

  <div id="main_container">

    {%- with messages = get_flashed_messages(with_categories=True) %}{%- if messages %}
        <div class="row">
            {% for _, message in messages %}
                <div class="alert alert-primary text-center" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {%- endif %}
    {%- endwith %}

    <p class="h6 text-center">Выбери файл с изображением или вставь ссылку:</p>
    <form class="text-center" action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
            {{ form.hidden_tag() }}
            <div class="input-group col" id="input_url_div">
                <label id="browsebutton" class="btn btn-outline-light" >
                    {{ form.input_file(id="file-selector") }}
                    Открыть...
                </label>
                <label for="input_url"></label>
                <input type="text" id="input_url" name="image_url" class="form-control" placeholder="Ссылка на изображение">
            </div>
            <div class="col-sm-auto" id="make_button_div">
                {{ form.submit(class_="btn btn-primary", id="make_button") }}
            </div>
        </div>
    </form>

    <div class="text-end mt-1 mb-2">
        <text class="small" id="ingr_list" data-toggle="ingr_popover" data-bs-content="Bottom popover" data-popper-placement="bottom">Доступные ингредиенты</text>
    </div>

    <div class="text-center">
        <p class="h6">{{ recipe }}</p>
        <p class="h6">{{ conf_text }}</p>
        {%- if '.jpg' in image_filename %}
            <img src="{{ url_for('download_file', filename=image_filename) }}" id="img_cocktail" class="img-thumbnail" alt="Коктейль не загрузился">
        {% else %}
            <img src="{{ url_for('static', filename="placeholder.jpg") }}" id="img_cocktail" class="img-thumbnail" alt="Коктейль не загрузился">
        {%- endif %}
    </div>

    <div class="text-end" id="github_link_div">
        <a href="https://github.com/PolushinM/CocktailMan" id="github_link">
            <img src="{{ url_for('static', filename="svg/github.svg") }}"  alt="GitHub: ">
            <text class="small"> PolushinM/CocktailMan</text>
        </a>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{{ super() }}

  <script src="{{ url_for('static', filename='js/inputFileButton.js') }}" ></script>

  <script> const ingredients = {{ ingr_text | tojson }}.join('<br/>')</script>
  <script src="{{ url_for('static', filename='js/showIngredients.js') }}" ></script>

{% endblock %}
